@charset "UTF-8";



/*
  Text
*/
[data-arrangement~="text-align-center"] {
  text-align: center;
}

[data-arrangement~="text-align-left"] {
  text-align: left;
}

[data-arrangement~="text-align-right"] {
  text-align: right;
}



/*
  Flex, Grid
*/

/* -- align: */

  /* ---- content: */

  [data-arrangement~="align-content-center"] {
    align-content: center;
  }

  [data-arrangement~="align-content-start"] {
    align-content: flex-start;
  }

  [data-arrangement~="align-content-end"] {
    align-content: flex-end;
  }

  /* ---- items: */

  [data-arrangement~="align-items-center"] {
    align-items: center;
  }

  [data-arrangement~="align-items-start"] {
    align-items: flex-start;
  }

  [data-arrangement~="align-items-end"] {
    align-items: flex-end;
  }

  /* ---- self: */

  [data-arrangement~="align-self-center"] {
    align-self: center;
  }

  [data-arrangement~="align-self-start"] {
    align-self: flex-start;
  }

  [data-arrangement~="align-self-end"] {
    align-self: flex-end;
  }



/* -- justify: */

  /* ---- content: */

  [data-arrangement~="justify-content-center"] {
    justify-content: center;
  }

  [data-arrangement~="justify-content-start"] {
    justify-content: flex-start;
  }

  [data-arrangement~="justify-content-end"] {
    justify-content: flex-end;
  }

  /* ---- items: */

  [data-arrangement~="justify-items-center"] {
    justify-items: center;
  }

  [data-arrangement~="justify-items-start"] {
    justify-items: flex-start;
  }

  [data-arrangement~="justify-items-end"] {
    justify-items: flex-end;
  }

  /* ---- self: */

  [data-arrangement~="justify-self-center"] {
    justify-self: center;
  }

  [data-arrangement~="justify-self-start"] {
    justify-self: flex-start;
  }

  [data-arrangement~="justify-self-end"] {
    justify-self: flex-end;
  }
